In [3]:
import pandas as pd
import numpy as np
import urllib.request, json 
import re
import pprint

In [4]:
pp = pprint.PrettyPrinter(depth=6)

In [5]:
modules = []
with urllib.request.urlopen("http://api.nusmods.com/2017-2018/2/moduleCodes.json") as url:
    modules = json.loads(url.read().decode())
    
modules = np.array(modules)
print(modules)

['ACC1002' 'ACC1002X' 'ACC1006' ..., 'ZB3288' 'ZB3289' 'ZB4199']

In [6]:
# only take in the mods with these prefixes
# prefix = ["FIN", "DSC", "MNO", "MKT", "BSP", "ACC", "HR", "TR"]
modules_filtered = np.array(list(filter(lambda module: bool(re.compile("^(FIN|DSC|MNO|MKT|BSP|ACC|HR|TR)",).match(module)), modules)))

# remove "X" from suffix
modules_filtered = np.array(list(filter(lambda module: module[-1] != 'X', modules_filtered)))
modules_filtered

array(['ACC1002', 'ACC1006', 'ACC1701', 'ACC2002', 'ACC3601', 'ACC3603',
       'ACC3604', 'ACC3605', 'ACC3606', 'ACC3613', 'ACC3614', 'ACC3616',
       'ACC3619', 'ACC4611', 'ACC4614', 'ACC5001', 'BSP1004', 'BSP1005',
       'BSP2001', 'BSP2005', 'BSP3001A', 'BSP3001B', 'BSP3516', 'DSC1007',
       'DSC2006', 'DSC2008', 'DSC3201', 'DSC3202', 'DSC3203', 'DSC3214',
       'DSC3215', 'DSC3216', 'DSC3224', 'DSC4211C', 'DSC4211G', 'DSC4213',
       'DSC4215', 'DSC4217', 'DSC5102', 'DSC5121', 'DSC5211A', 'DSC5211B',
       'DSC5211C', 'FIN2004', 'FIN3101A', 'FIN3101B', 'FIN3102', 'FIN3103',
       'FIN3103B', 'FIN3113', 'FIN3117', 'FIN3118', 'FIN3120B', 'FIN3120C',
       'FIN3120D', 'FIN3130', 'FIN3131', 'FIN4112G', 'FIN4112K',
       'FIN4113A', 'FIN4113B', 'FIN4117', 'FIN4122', 'FIN4123', 'FIN6003',
       'MKT1003', 'MKT1705', 'MKT2401A', 'MKT2401B', 'MKT2413', 'MKT3402A',
       'MKT3402B', 'MKT3402C', 'MKT3412', 'MKT3415', 'MKT3417', 'MKT3418',
       'MKT3420', 'MKT3421', 'MKT4413', 'MKT4417', 'MNO1001', 'MNO1706',
       'MNO2007', 'MNO2009', 'MNO2302', 'MNO3301', 'MNO3303', 'MNO3313J',
       'MNO3331', 'MNO3332', 'MNO4313D', 'MNO4313E', 'TR2201', 'TR2202',
       'TR3001', 'TR3002N', 'TR3202', 'TR3203E', 'TR3203N', 'TR3203P',
       'TR3203T', 'TR4049N', 'TR4049S', 'TR4049T'],
      dtype='<U8')

In [55]:
# define a function that gives us the json from the thing

def get_json(module_code):
    with urllib.request.urlopen("http://api.nusmods.com/2017-2018/1/modules/" + module_code + ".json") as url:
        data = json.loads(url.read().decode())
        
        # remove CorsBiddingStats
        del data['CorsBiddingStats']
        return data

# pp.pprint(get_json("FIN2004"))

def get_prereq(json):
    return json['Prerequisite']

def get_preclu(json):
    return json['Preclusion']

def get_modulecode(json):
    return json['ModuleCode']

def get_timetable(json):
    return json['Timetable']

pp.pprint((get_json('CS3244')))
# pp.pprint(get_json('DSC2004'))

{'Department': 'Computer Science',
 'ExamDate': '2017-11-25T09:00+0800',
 'LecturePeriods': ['Tuesday Afternoon'],
 'ModuleCode': 'CS3244',
 'ModuleCredit': '4',
 'ModuleDescription': 'This module introduces basic concepts and algorithms in '
                      'machine learning and neural networks. The main reason '
                      'for studying computational learning is to make better '
                      'use of powerful computers to learn knowledge (or '
                      'regularities) from the raw data. The ultimate objective '
                      'is to build self-learning systems to relieve human from '
                      'some of already-too-many programming tasks. At the end '
                      'of the course, students are expected to be familiar '
                      'with the theories and paradigms of computational '
                      'learning, and capable of implementing basic learning '
                      'systems.',
 'ModuleTitle': 'Machine Learning',
 'Prerequisite': '(CS2010 or CS2020 or CS2040 or CS2040C) and (ESP1107 or '
                 'ESP2107 or ST1232 or ST2131 or ST2132 or ST2334) and '
                 '(MA1101R or MA1311 or MA1506) and (MA1102R or MA1505 or '
                 'MA1521)',
 'Timetable': [{'ClassNo': '1',
                'DayText': 'Tuesday',
                'EndTime': '1600',
                'LessonType': 'Lecture',
                'StartTime': '1400',
                'Venue': 'LT19',
                'WeekText': 'Every Week'},
               {'ClassNo': '1',
                'DayText': 'Thursday',
                'EndTime': '1300',
                'LessonType': 'Tutorial',
                'StartTime': '1200',
                'Venue': 'COM1-0209',
                'WeekText': 'Every Week'},
               {'ClassNo': '2',
                'DayText': 'Thursday',
                'EndTime': '1400',
                'LessonType': 'Tutorial',
                'StartTime': '1300',
                'Venue': 'COM1-0209',
                'WeekText': 'Every Week'},
               {'ClassNo': '3',
                'DayText': 'Thursday',
                'EndTime': '1500',
                'LessonType': 'Tutorial',
                'StartTime': '1400',
                'Venue': 'COM1-0209',
                'WeekText': 'Every Week'},
               {'ClassNo': '4',
                'DayText': 'Thursday',
                'EndTime': '1000',
                'LessonType': 'Tutorial',
                'StartTime': '0900',
                'Venue': 'COM1-0209',
                'WeekText': 'Every Week'},
               {'ClassNo': '5',
                'DayText': 'Friday',
                'EndTime': '1300',
                'LessonType': 'Tutorial',
                'StartTime': '1200',
                'Venue': 'COM1-0203',
                'WeekText': 'Every Week'},
               {'ClassNo': '6',
                'DayText': 'Friday',
                'EndTime': '1400',
                'LessonType': 'Tutorial',
                'StartTime': '1300',
                'Venue': 'COM1-0203',
                'WeekText': 'Every Week'}],
 'TutorialPeriods': ['Thursday Afternoon',
                     'Thursday Morning',
                     'Friday Afternoon'],
 'Types': ['UEM'],
 'Workload': '2-1-0-3-4'}

In [72]:
headers = []
timeslots = ['0800', '0900', '1000', '1100', '1200', '1300', '1400', '1500', '1600', '1700', '1800', '1900', '2000', '2100', '2200']
days = ['mon', 'tue', 'wed', 'thu', 'fri']

# module columns
headers.extend(['module', 'name', 'sectional', 'module_sectional'])

# timeslots
for day in days:
    for timeslot in timeslots:
        headers.extend([day + timeslot])
        
def build_df(data):
    return pd.DataFrame(data, columns=headers)

x = []
for i in range(0, 79):
    x.append(i)
    
    
build_df([x])

,module,name,sectional,module_sectional,mon0800,mon0900,mon1000,mon1100,mon1200,mon1300,...,fri1300,fri1400,fri1500,fri1600,fri1700,fri1800,fri1900,fri2000,fri2100,fri2200
0,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78

In [57]:
def convert_time_info_into_list(day, start, end):
    day = day.lower()[:3]
    started = False
    ended = False
    
    timelist = []
    
    for currday in days:
        for slot in timeslots:
            if currday+slot == day+start:
                started = True
            if currday+slot == day+end:
                ended = True
            if (started & ~ended):
                timelist.append(1)
            else:
                timelist.append(0)

    return timelist

convert_time_info_into_list('Monday', '1000', '1200')


dsc3214 = ['DSC3214', 'Optimisation', 'A', 'DSC3214_A']
dsc3214.extend(convert_time_info_into_list('Friday', '1400', '1700'))
build_df(dsc3214)

,module,name,sectional,module_sectional,mon0800,mon0900,mon1000,mon1100,mon1200,mon1300,...,fri1300,fri1400,fri1500,fri1600,fri1700,fri1800,fri1900,fri2000,fri2100,fri2200
0,DSC3214,Optimisation,A,DSC3214_A,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0

In [67]:
def convert_mod_info_into_lists(json):
    # this will create a LIST OF LIST, where each inner list is 1 module_sectional!!
    # [modulecode, sectional, mod_sectional, name, [day, start, end]]
    module = json['ModuleCode']
    title = json['ModuleTitle']
    timeslots = json['Timetable']
    
    mylist = []
    
    for slot in timeslots:
        sect = slot['ClassNo']
        start = slot['StartTime']
        end = slot['EndTime']
        day = slot['DayText']
        mylist.append([[module, title, sect, module+sect], (day, start, end)])
    
    return mylist

fin2004 = convert_mod_info_into_lists(get_json('FIN2004'))
fin2004

[[['FIN2004', 'Finance', 'J01', 'FIN2004J01'], ('Tuesday', '1400', '1700')],
 [['FIN2004', 'Finance', 'J02', 'FIN2004J02'], ('Monday', '0800', '1100')],
 [['FIN2004', 'Finance', 'J03', 'FIN2004J03'], ('Monday', '1400', '1700')],
 [['FIN2004', 'Finance', 'J04', 'FIN2004J04'], ('Tuesday', '0800', '1100')],
 [['FIN2004', 'Finance', 'J05', 'FIN2004J05'], ('Tuesday', '1400', '1700')],
 [['FIN2004', 'Finance', 'J06', 'FIN2004J06'], ('Wednesday', '0800', '1100')],
 [['FIN2004', 'Finance', 'J07', 'FIN2004J07'], ('Thursday', '0800', '1100')],
 [['FIN2004', 'Finance', 'J08', 'FIN2004J08'], ('Wednesday', '1200', '1500')],
 [['FIN2004', 'Finance', 'J09', 'FIN2004J09'], ('Friday', '0800', '1100')],
 [['FIN2004', 'Finance', 'J10', 'FIN2004J10'], ('Thursday', '1400', '1700')],
 [['FIN2004', 'Finance', 'J11', 'FIN2004J11'], ('Friday', '1400', '1700')]]

In [73]:
def convert_modlist_into_df(modlist):
    newlist = []
    for mod in modlist:
        print(mod[1])
        mod_time = convert_time_info_into_list(mod[1][0], mod[1][1], mod[1][2])
        newmod = []
        newmod.extend(mod[0])
        newmod.extend(mod_time)
        newlist.append(newmod)
        
    return newlist

build_df(convert_modlist_into_df(fin2004))

('Tuesday', '1400', '1700')
('Monday', '0800', '1100')
('Monday', '1400', '1700')
('Tuesday', '0800', '1100')
('Tuesday', '1400', '1700')
('Wednesday', '0800', '1100')
('Thursday', '0800', '1100')
('Wednesday', '1200', '1500')
('Friday', '0800', '1100')
('Thursday', '1400', '1700')
('Friday', '1400', '1700')

,module,name,sectional,module_sectional,mon0800,mon0900,mon1000,mon1100,mon1200,mon1300,...,fri1300,fri1400,fri1500,fri1600,fri1700,fri1800,fri1900,fri2000,fri2100,fri2200
0,FIN2004,Finance,J01,FIN2004J01,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,FIN2004,Finance,J02,FIN2004J02,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,FIN2004,Finance,J03,FIN2004J03,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,FIN2004,Finance,J04,FIN2004J04,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,FIN2004,Finance,J05,FIN2004J05,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,FIN2004,Finance,J06,FIN2004J06,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,FIN2004,Finance,J07,FIN2004J07,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,FIN2004,Finance,J08,FIN2004J08,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,FIN2004,Finance,J09,FIN2004J09,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,FIN2004,Finance,J10,FIN2004J10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,FIN2004,Finance,J11,FIN2004J11,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0